<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="left" id="main">　　　KH 리조트 대관안내 </h1>
<table border="1">
    <tr id="header" bgcolor="salmon">
        <th align="center" width="30">층</th>
        <th align="center" width="100">객실명</th>
        <th align="center" width="100">정원</th>
        <th align="center" width="200">가격</th>
    </tr>


        <td colspan="4">

        </td>

    <tr bgcolor="orange">
        <td align="center" rowspan="6">2층</td>

        <td align="left" rowspan="2">사랑방</td>


        <td align="right" rowspan="2">4명</td>

        <td align="center">평일: 300,0000원 <button style="background-color: green;">예약하기</button></td>
    </tr>
    <tr bgcolor="orange">


        <td align="center">주말: 500,0000원 <button style="background-color: green;">예약하기</button></td>
    </tr>





    <tr bgcolor="orange">
        <td align="left" rowspan="2">행복방</td>
        <td align="right" rowspan="2">6명</td>

        <td align="center">평일: 400,0000원 <button style="background-color: green;">예약하기</button></td>
    </tr>
    <tr bgcolor="orange">


        <td align="center">주말: 600,0000원 <button style="background-color: green;">예약하기</button></td>
    </tr>




    <tr bgcolor="orange">
        <td align="left" rowspan="2">코딩방</td>


        <td align="right" rowspan="2">무제한</td>

        <td align="center">평일: 800,0000원 <button style="background-color: green;">예약하기</button></td>
    </tr>
    <tr bgcolor="orange">


        <td align="center">주말: 990,0000원 <button style="background-color: green;">예약하기</button></td>
    </tr>
    <tr id="footer" bgcolor="yellow"  style="color: red;">
        <td align="left" colspan="4">코딩방 예약시 커피 무제한 무료 증정!!</td>
    </tr>


</table>

</body>
<style>
  h1 {
      color: orange;
  }
  .mid1{
      background-color: orange;
  }
</style>
</html>