<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header> <h1>8월11일 kh정보교육원 시험</h1></header>
<nav>
    <ul>
        <li><a href="#">메뉴</a> </li>
        <li><a href="#">메뉴2</a> </li>
        <li><a href="#">메뉴3</a> </li>
    </ul>
</nav>
<aside>
    <h1>여긴사이드입니다.  </h1>
</aside>

<section>
    <article>
        <h1> kh시험 내용 1</h1>
        <p> 1+1 =2 </p>
    </article>
    <article>
        <h1> kh시험 내용 2</h1>
        <p> 1X1 =1 </p>
    </article>
</section>
<footer>
    <address>찾아오시는길..강남 역삼역 3번출구 300m</address>
</footer>
</body>
</html>