@charset "utf-8";
/* xe_sunooEmRg layout for Xpress Engine. Layout Design by Sunoo (http://www.goodpr.me/) */

html, body { margin:0; padding:0; font-size:12px; font-family:"돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-Serif; }
img, form, button, table, tbody, td { margin:0; padding:0; }
a:link {color:#555555; text-decoration:none;}
a:visited {color:#555555; text-decoration:none;}
a:hover {color:#555555; text-decoration:none;}
a:active {color:#555555; text-decoration:none;}

#bodyWraps { margin:0.1em auto 1.5em auto; padding:0; clear:both; *zoom:1; }
#bodyWraps:after{ content:""; display:block; clear:both;}

/* top line */
#topline {position:relative; top:0px; height:20px; margin:0; padding:0px; z-index:100; }
#topline .topmemo{ position:absolute; left:5px; top:5px; color:#777; font-size:11px; margin:0px; }
#topline .topmenu{ position:absolute; right:1px; top:4px; _top:5px; margin:0px; overflow:visible; }
#topline .topmenu li { display:inline; margin:0px; color:#777; font-size:11px; overflow:visible; }
#topline .topmenu li a { color:#777; font-size:11px; }
#topline .topmenu li a:hover {	color:#fc2306; }
#topline .topmenu li.tmenu { padding:0px 7px 0px 3px; *padding:0px 4px 0px 6px; background:url(../images/bgbtnicon/topMenuVr.gif) no-repeat right 2px; }
#topline .topmenu li.favor { padding:0px 7px 0px 3px; *padding:0px 4px 0px 6px; background:url(../images/bgbtnicon/topMenuVr.gif) no-repeat right 2px; }
#topline .topmenu li.langtype { padding:0px 8px 0px 3px; *padding:0px 8px 0px 6px; }
#topline .topmenu li.slangtext { padding:0px 2px; }

/* top menu Line select Language */
#languageList { position:absolute; top:0px; right:0px; margin:0; padding:0; border:0; }
#languageList span{ position:absolute; left:-67px; *left:-71px; width:6px; height:12px; margin:0; padding:0; background:url(../images/bgbtnicon/buttonLanguageToggle.gif) no-repeat 0px 8px; }
#languageList.open span{ background-position:0px -4px; }
#languageList.open .langlist { display:block; }
#languageList .langlist{ display:none; position:absolute; top:18px; right:0px; width:70px; margin:0; padding:1px 0; border:1px solid #b23628; background:#d5fac7;}
#languageList .langlist li { list-style:none; margin:0; padding:0; }
#languageList .langlist li a { display:block; width:54px; padding:3px 8px; font:9px Tahoma; color:#555; text-decoration:none;}
#languageList .langlist li a:hover { background:#fff;}

/* header */
#header { position:relative; clear:both; *zoom:1; padding:0px; margin:0px; z-index:90; }
#header:after{ content:""; display:block; clear:both;}

#header .topimage{ position:relative; padding:0px; margin:0px; }
#header .topimage .topimageEx{ position:relative; height:80px; background:url(../images/topimg_anitext.gif) no-repeat center top; }
#header .logoimg h1 { position:absolute; left:5px; top:35px; padding:0px; margin:0px; z-index:1;} 

#searchWrap { position:absolute; right:15px; top:88px; width:168px; height:24px; z-index:100; }
#searchWrap .searchbg { position:absolute; width:168px; height:24px; background:url(../images/bgbtnicon/bgSearch.png) no-repeat left top; }
#searchWrap .search{ position:absolute; width:168px; height:24px; }
#searchWrap .search .searchArea{ position:absolute; top:2px; *top:1px; left:14px; width:138px; padding:0; margin:0px; } 
#searchWrap .search .searchArea input{ width:120px; height:15px; padding:0x; margin:0px; font-size:12px; border:0;}
#searchWrap .search .searchArea .textIn{ background:#fff; }
#searchWrap .search .searchArea.ko .textOut{ background:#fff url(../images/bgbtnicon/bgsearchOutko.gif) no-repeat 8px 4px; }
#searchWrap .search .searchArea.en .textOut{ background:#fff url(../images/bgbtnicon/bgsearchOuten.gif) no-repeat 8px 3px; }
#searchWrap .search .searchArea.jp .textOut{ background:#fff url(../images/bgbtnicon/bgsearchOutjp.gif) no-repeat 8px 4px; }
#searchWrap .search .searchArea.zh-CN .textOut{ background:#fff url(../images/bgbtnicon/bgsearchOutcn.gif) no-repeat 8px 4px; }
#searchWrap .search .searchArea.zh-TW .textOut{ background:#fff url(../images/bgbtnicon/bgsearchOutcn.gif) no-repeat 8px 4px; }
#searchWrap .search .searchArea .search_btn{ position:absolute; top:2px; right:0px; width:14px; height:14px;}
#searchWrap .search fieldset{ border:0; margin:0; padding:0;}
#searchWrap .search fieldset legend{ display:none; }

/* header - main menu */
#mainMenu_line  {position:relative; top:0px; height:38px; padding:0px; margin:0px; z-index:80; }
#mainMenu_line .tMenu  {position:relative; top:0px; width:100%; height:38px; padding:0px; margin:0px; }
#mainMenu_line .tMenu td.mntd1  { height:38px; width:3px;}
#mainMenu_line .tMenu td.mntd2  { height:38px; }
#mainMenu_line .tMenu td.mntd3  { height:38px; width:203px; }
#mainMenu_line .tMenu td.mntd4  { height:38px; width:3px; }
#mainMenu { position:relative; float:left; left:10px; top:0px; height:38px; padding:0px; margin:0px; }
#mainMenu .mMenu {position:relative; float:left; padding:0px; margin:0px; }
#mainMenu .mMenu a {position:relative; display:block; float:left; color:#ffffff; height:15px; padding:13px 15px 10px 15px; margin:0px; vertical-align:middle; }
#mainMenu .mMenu a:hover { color:#fbf200; padding:13px 15px 10px 15px; margin:0px; }
#mainMenu .mMenu li { position:relative; float:left; list-style:none; padding:0px; margin:0px; }
#mainMenu .mMenu li.on { color:#fbf200; height:38px; padding:0px; margin:0px; } 
#mainMenu .mMenu .sMenu { position:relative; top:-64px; right:-100%; margin:0px; }
#mainMenu .mMenu .smarrow {position:absolute; right:4px; padding-top:3px; }
#mainMenu .mMenu table.tms {position:absolute; top:34px; left:-2px; display:none; padding:0px; margin:0px; z-index:140; }
#mainMenu .mMenu table.tms td.sm {white-space:nowrap; height:16px; }
#mainMenu .mMenu table.tms td.sm a {float:none; font-weight:normal; color:#444444; padding:7px 20px 3px 10px; }
#mainMenu .mMenu table.tms td.sm a:hover { color:#333333; }


/* Content Body */
#contentBodys { position:relative; clear:both; *zoom:1; top:0px; padding:8px 0px 0px 0px; margin:0px; overflow:hidden; z-index:0; background-image:url(../images/bgbtnicon/contentbody_vr.gif); background-repeat:repeat-y; background-position:693px 0px; }
#contentBodys:after{ content:""; display:block; clear:both;}
#contentBodys .onecolumn { position:relative; clear:both; *zoom:1; padding:0px 0px 8px 0px; margin:0px; }
#contentBodys .onecolumn:after{ content:""; display:block; clear:both;}
#columnLefts { position:relative; float:left; padding:0px 0px 8px 0px; margin:0px; }

/* right Column */
#columnRights { position:relative; float:right; padding:0px 0px 1px 0px; margin:0px; border:0px solid #999; overflow:hidden; }

/* left Column - search fixed */
#columnRights .searchf{ position:relative; width:184px; padding:1px 0px 1px 10px; margin:0px 0px 5px 0px; border:2px solid #ddd; background-color:#ffffff;}
#columnRights .searchf .searchArea{ top:2px; width:175px; } 
#columnRights .searchf .searchArea input{ width:155px; height:15px; padding:0x; margin:0px; font-size:12px; border:0;}
#columnRights .searchf .searchArea .textIn{ background:#fff; }
#columnRights .searchf .searchArea.ko .textOut{ background:#fff url(../images/bgbtnicon/bgsearchOutko.gif) no-repeat 8px 4px; }
#columnRights .searchf .searchArea.en .textOut{ background:#fff url(../images/bgbtnicon/bgsearchOuten.gif) no-repeat 8px 3px; }
#columnRights .searchf .searchArea.jp .textOut{ background:#fff url(../images/bgbtnicon/bgsearchOutjp.gif) no-repeat 8px 4px; }
#columnRights .searchf .searchArea.zh-CN .textOut{ background:#fff url(../images/bgbtnicon/bgsearchOutcn.gif) no-repeat 8px 4px; }
#columnRights .searchf .searchArea.zh-TW .textOut{ background:#fff url(../images/bgbtnicon/bgsearchOutcn.gif) no-repeat 8px 4px; }
#columnRights .searchf .searchArea .search_btn{ position:absolute; top:2px; *top:3px; left:170px; width:14px; height:14px;}
#columnRights .searchf fieldset{ border:0; margin:0; padding:0;}
#columnRights .searchf fieldset legend{ display:none; }

#loginboxWrap { position:relative; padding:0px; margin:0px 0px 7px 0px; }

/* right Column - sub menu */
#sideSubm { position:relative; width:196px; padding:0px; margin:0px 0px 7px 0px; text-align:left; overflow:hidden; border:1px solid #ddd; background-color:#ffffff; }
#sideSubm .submTitle { height:23px; width:196px; padding:7px 0px 1px 0px; margin:0px; }
#sideSubm .submTitle .sidem_icon { position:absolute; left:10px; top:4px; padding:0px; margin:0px; }
#sideSubm .submTitle a { color:#0d04cd; font-size:13px; padding:9px 0px 0px 30px; margin:0px; }
#sideSubm .submTitle a:hover { color:#e90505; }
#sideSubm .lsm { top:0px; width:196px; padding:0px 2px; margin:0px; } 
#sideSubm .lsm li {list-style:none; padding:0px 3px 0px 2px; margin:0px; }
#sideSubm .lsm li a { display:block; width:163px; padding:5px 5px 5px 20px; border-bottom:1px solid #eeeeee; background:url(../images/bgbtnicon/sidemenuList2.gif) no-repeat 4px 5px; color:#555555; text-decoration:none;}
#sideSubm .lsm li a:hover,
#sideSubm .lsm li a:focus {color:#0063FF; font-weight:bold; background:#CEFF63 url(../images/bgbtnicon/sideMenuListOnL.gif) no-repeat 3px 5px;}
#sideSubm .lsm li.on a {background:#CEFFFF url(../images/bgbtnicon/sideMenuListOnL.gif) no-repeat 2px 5px; color:#3a66a2; }
#sideSubm .lsm li.on a:hover,
#sideSubm .lsm li.on a:focus { font-weight:bold;}
#sideSubm .lsm li ul { display:block; position:relative; left:8px; width:179px; padding:0px; margin:0px; overflow:hidden;}
#sideSubm .lsm li ul li { top:-1px; padding:0; margin:0px; }
#sideSubm .lsm li ul li a { padding:7px 5px 5px 17px; width:160px; color:#818181; font-weight:normal; letter-spacing:normal; background:url(../images/bgbtnicon/sidemenuList3.gif) no-repeat 6px 9px; }
#sideSubm .lsm li ul li a:hover,
#sideSubm .lsm li ul li a:focus { color:#de4332; font-weight:normal; padding:7px 5px 5px 17px; background:#f8f4c2 url(../images/bgbtnicon/sideMenuListOnS.gif) no-repeat 2px 7px; }
#sideSubm .lsm li.on ul { display:block; }
#sideSubm .lsm li.on ul li { background:#FFF; }
#sideSubm .lsm li.on ul li a { padding:7px 5px 5px 17px; background:url(../images/bgbtnicon/sidemenuList3.gif) no-repeat 6px 9px; }
#sideSubm .lsm li.on ul li a:hover,
#sideSubm .lsm li.on ul li a:focus { padding:7px 5px 5px 17px; background:#f8f4c2 url(../images/bgbtnicon/sideMenuListOnS.gif) no-repeat 2px 7px; }
#sideSubm .lsm li.on ul li.on a { color:#3163FF; font-weight:normal; padding:7px 5px 5px 17px; background:#FFF68F url(../images/bgbtnicon/sideMenuListOnS.gif) no-repeat 2px 7px; }
#sideSubm .lsm li.on ul li.on a:hover,
#sideSubm .lsm li.on ul li.on a:focus { color:#3163FF; font-weight:bold; }

/* right Column - Widget */
#sideWidgetCal{ position:relative; width:196px; padding:0px; margin:0px 0px 7px 0px; text-align:left; border:1px solid #ddd; overflow:hidden; } 
#sideWidgetCal .widgetCal{ padding:4px 5px; margin:0px; }
#sideWidgetA{ position:relative; width:196px; padding:0px; margin:0px 0px 7px 0px; text-align:left; border:1px solid #ddd; background-color:#ffffff; overflow:hidden; } 
#sideWidgetA .sideWidgetTop{ height:23px; padding:7px 0px 1px 42px; margin:0px; font-size:13px; }
#sideWidgetA .sideWidgetTop .icon_doc{ position:absolute; left:18px; top:5px; padding:0px; margin:0px;  }
#sideWidgetA .widgetA{ padding:0px 4px 2px 4px; margin:0px; }
#sideWidgetB{ position:relative; width:196px; padding:0px; margin:0px 0px 7px 0px; text-align:left; border:1px solid #ddd; background-color:#ffffff; overflow:hidden; } 
#sideWidgetB .sideWidgetTop{ height:23px; padding:7px 0px 1px 42px; margin:0px; font-size:13px; }
#sideWidgetB .sideWidgetTop .icon_com{ position:absolute; left:18px; top:5px; padding:0px; margin:0px;  }
#sideWidgetB .widgetB{ padding:0px 4px 2px 4px; margin:0px; }
#sideBanner { position:relative; width:196px; padding:0px; margin:0px 0px 7px 0px; text-align:left; overflow:hidden; border:1px solid #ddd; background-color:#ffffff; }
#sideCounter{ position:relative; width:196px; padding:0px; margin:0px 0px 7px 0px; text-align:left; border:1px solid #ddd; background-color:#ffffff; overflow:hidden; } 


/* Footer */
#footer { position:relative; clear:both; *zoom:1; border-top:2px solid #e1e1dd; background-color:#ffffff; clear:both; z-index:50; }
#footer:after{ content:""; display:block; clear:both;}
#footer .copyrights {position:absolute; top:26px; left:0px; height:8px; margin:0px; text-align:left; }
#footer .copyrights a { color:#ffffff; font:6px Tahoma; text-align:left; padding:4px 0px; }
#footer .fts { position:relative; padding:0px; margin:0px; }
#footer .fts td.btmn { padding:0px; margin:0px; }
#footer .fts td.footerlogo { padding:8px 0px 8px 0px;  margin:0px; }
#footer .fts td.footertext { padding:8px 0px 8px 0px;  margin:0px; }
#footer .bottomMenu {position:relative; top:0px; width:100%; height:17px; margin:0px; padding-top:6px; text-align:center; overflow:hidden; border-bottom:1px solid #e1e1dd; }
#footer .bottomMenu a { color:#666666; padding:0px 10px 0px 10px; margin:0px; font:12px; }
#footer .bottomMenu a:hover {	color:#fc2306;	text-decoration:none; }
#footer .bottom_text { color:#777; line-height:120%; padding:0px 0px 0px 10px; margin:0px; }
#footer .bottom_text a { text-decoration:none; color:#777; font-size:12px; }
#footer .bottom_text a:hover {	color:#fc2306;	text-decoration:none; }
#footer .bottom_text address { font-style:normal; }
#footer .footerRss { position:absolute; top:4px; left:58px; margin:0; }
#footer .footerRss a{ color:#8b8b8b; padding-left:14px; font-size:11px; font-family:Tahoma; background:url(../images/bgbtnicon/iconRss.gif) no-repeat left 2px; }
#footer .footerRss a:hover { color:#1a64fb;	}
#footer .footerArrowTop {position:absolute; top:4px; left:5px; width:41px; height:16px; margin:0px; }


/* end emrgbscstyle */
