<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
       <th align="center" width="70">이름</th>
        <th align="center" width="60">나이</th>
        <th align="center" width="60">성별</th>
    </tr>
    <tr>
        <th align="center" width="40">홍길동</th>
        <th align="center" width="40">39</th>
        <th align="center" width="40">남</th>
    </tr>
    <tr>
        <th align="center" width="40">신사임당</th>
        <th align="center" width="40">59</th>
        <th align="center" width="40">여</th>
    </tr>
    <tr>
        <th align="center" width="40">이순신</th>
        <th align="center" width="40">55</th>
        <th align="center" width="40">남</th>
    </tr>
</table>
</body>
</html>